# .env.template file

# This file serves as a template for configuring environment variables in your application.
# You should create a .env file based on this template and provide the appropriate values.

# PORT: The port on which your server will run. You can change it according to your needs.
PORT=4000

# Winston Mode in "dev"
MODE=dev

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_DATABASE=ecommerce_api
DOCKER_PORT=5432
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_DATABASE}"
MODE=dev

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=

# JsonWebToken
JWT_SEED=your_jwt_token

# Passport
SECRET_KEY=your_secret_key