/* 
-----------------------------------------------------------
ASIDEBAR
-----------------------------------------------------------
*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
aside {
    width: 300px;
    background-color: #f2f2f2;
    border: 1px solid #fadef183 !important;
    float: left;
    padding: 20px;
    margin-left: 14%;
    border-radius: 10px;
}

aside h2 {
    margin-top: 0;
}

input[type="text"],
input[type="checkbox"],
input[type="range"] {
    margin-bottom: 10px;
}
#searchInput {
    width: calc(100% - 20px);
}

#filterContainer {
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    aside {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    #filterContainer {
        display: none;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;
    }

    .menu-icon span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #333;
        margin-bottom: 4px;
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle:checked ~ #filterContainer {
        display: block;
    }
}

/* DARK MODE */

body.dark aside {
    background-color: #1f2029;
    border: 1px solid #ccc !important;
}

body.dark aside:hover {
    background-color: #14151a;
}

