@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para el scroll */
body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background-color: #dddddd7a;
}

body::-webkit-scrollbar-thumb {
    background-color: #86898d;
    border-radius: 4px;
}

::selection {
    background-color: #a3c1d47a;
    color: black;
}

